﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <input type="button" name="btnUpload" value="Upload" onclick="Upload()" />

        <input type="button" value="Create" onclick="location.href='@Url.Action("CreateFolder", "Home")'" />
        <input type="button" value="DoesFtpDirectoryExist" onclick="location.href='@Url.Action("DoesFtpDirectoryExist", "Home")'" />
        <input type="button" value="UploadFile" onclick="location.href='@Url.Action("UploadFile", "Home")'" />
        <input type="button" value="GetAllFtpFiles" onclick="location.href='@Url.Action("GetAllFtpFilesFTP", "Home")'" />
        <input type="button" value="DeleteFTPFolder" onclick="location.href='@Url.Action("DeleteFTPFolder", "Home")'" />
    </div>
</div>

<script type="text/javascript">
    function Upload() {
        alert("Upload clicked");
       
    }
</script>